/* Variables */
:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-grey: #888888;;
    --basic-dark-grey: #333333;
    --basic-light-grey:#EEEEEE;
    --basic-extra-grey:#F2F2F2;
    --basic-brown:#766357;
    --basic-blue:#81B3D2;
    --hover-brown:#604E43;
    --pressing-brown:#503E33;
    --special-light-grey:#EBEBEB;
    --hover-blue:#669EC0;
    --pressing-blue:#5496BD;
    --details-grey:#A9A9A9;
    --rating-grey: #666666;
    --check-grey:#6A6A6A;
    --hover-grey:#ABABAB;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
    background-image: url(img.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(---basic-black); 
}

img {
    max-width: 100%;
    height: auto;
}

.main-background {
    background-color: var(--basic-white);
}

.main-nav {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(---basic-black);
    background-color: var(--b--basic-white);
}
.site-nav {
    list-style: none;
    color: var(---basic-black);
}

.site-nav-current {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-brown);
}

.site-nav a:hover {
    color:  var(--basic-blue);
}

.site-nav a:active {
    color:(---basic-black);
    opacity: 0.3;
}
.result {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.option {
    list-style: none;
}

.sort {
    font-size: 12px;
    line-height: 18px; 
}

.sort-by-price,
.sort-by-type,
.sort-by-rating {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.3;
    text-decoration: underline dashed;
}

.sort-by-price:hover,
.sort-by-type:hover,
.sort-by-rating:hover {
    color: var(--basic-blue);
}

.sort-by-price:active,
.sort-by-type:active,
.sort-by-rating:active {
    color: var(--basic-black);
    opacity:1;
    text-decoration: none;
}

.sort-current {
    color: var(--basic-blue);
    text-decoration: none;
}


.best-city {
    font-size: 21px;
    line-height: 26px;
}

.advantages {
    font-size: 14px;
    line-height: 26px;
}    

.feature-item {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.features-list {
    list-style: none;
    font-size: 0;
}

.feature-city-items {
    display: inline-block;
}

.feature-background {
    background-color: var(--basic-light-grey);
    width: 400px;
    height: 256px;
    display: inline-block;
}

.all-text {
    font-size: 14px;
    line-height: 21px; 
    text-align: center;
}

.feature-city {
    list-style: none;
}

.question {
    font-size: 30px;
    line-height: 24px;
}

.really-city {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    background-image: url(Image1.png);
    width: 400px;
    height: 256px;
  }

.bridge {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  background-image: url(Image2.png);
  width: 400px;
  height: 256px;
}

.hotels-list {
    list-style: none;
}

.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hotel-name:hover {
color: var(--basic-blue);
}

.hotel-name:active {
    opacity: 0.3;
    color: var(--basic-black);
    }

.type, .price {
    font-size: 14px;
line-height: 21px;
color: var(--basic-dark-grey);
}

.rating {
    font-size: 14px;
    line-height: 21px;
    color: var(--rating-grey); 
    background-color: var(--basic-extra-grey);
}

.description {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.description:hover {
    background-color: var(--hover-blue);
}
.description:active {
    background-color: var(--pressing-blue);
    opacity: 0.3;
}


.book {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}

.book:hover {
    background-color: var(--hover-brown); 
}

.book:active {
    background-color: var(--pressing-brown); 
}

.footer-contacts {
    font-size: 21px;
    line-height: 26px;
}

.footer-social ul {
    list-style: none;
  }

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
}




  


