/* Variables */
:root {
    --basic-white: #ffffff;
    --white-footer: rgba(255,255,255,0.9);
    --basic-black: #000000;
    --basic-grey: #F2F2F2;;
    --basic-dark-grey: #333333;
    --basic-light-grey:#EEEEEE;
    --basic-extra-grey:#F2F2F2;
    --basic-brown:#766357;
    --basic-blue:#81B3D2;
    --hover-brown:#604E43;
    --pressing-brown:#503E33;
    --special-light-grey:#EBEBEB;
    --hover-blue:#669EC0;
    --pressing-blue:#5496BD;
    --details-grey:#A9A9A9;
    --rating-grey: #666666;
    --check-grey:#6A6A6A;
    --hover-grey:#ABABAB;
    --border-grey: #E5E5E5;
    --copyright-grey: #BDBBBC;
    --opacity-white: rgb(255,255,255,0.3);
    --triangle-grey: #CACACA;
}

body {
    min-width: 1280px;
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(---basic-black); 
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}  

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-background {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header-index {
    position: relative;
    padding-bottom: 509px;
}

.main-header-index::before {
    content: ""; 
    position: absolute;
    left: 0;
    top: 55px;
    width: 1200px;
    height: 509px;
    background-image: url("../img/welcome.svg"),
    url("../img/sedona-main-picture.jpg");
    background-color: var(--basic-blue);
    background-position: center;
    background-repeat: no-repeat;
}

.main-header-catalog {
    position: relative; 
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

.main-nav {
    padding-left: 72px;
    padding-right: 72px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(---basic-black);
    background-color: var(--b--basic-white);
}

.site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    color: var(---basic-black);
}

.site-nav li {
    width: 228px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.heading {
    position: relative;
    padding-top: 42px;
}

.heading::before { 
    content: ""; 
    position: absolute;
    left: 0;
    bottom: calc(100% - 1px);
    width: 100%;
    height: 57px;
    background-image: url("../img/white-background.svg");
    background-repeat: no-repeat;
} 

.hotels-option-current {
    color: var(--basic-brown);
}

.hotels-option, .map {
    text-align: right;
}

.map {
    margin-left: auto;
}

.site-nav-current {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-brown);
}

.site-nav a:hover {
    color:  var(--basic-blue);
}

.site-nav a:active {
    color:(---basic-black);
    opacity: 0.3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Filters */

.filter-form {
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 26px;
    padding-bottom: 32px;
    color: var(--basic-white);
    background-image: url(../img/background-catalog.png);
    background-color: var(--basic-blue);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 217px;
}

.selection-of-services {
    padding: 0;
    margin: 0;
    border: none;
    margin-right: 119px; 
}

.filter-type {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-type-of-price {
    margin-bottom: 10px;
}

.filter-option {
    margin-bottom: 25px;
}

.filter-option:last-child {
    margin-bottom: 0;
} 

.filter-option label{
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + label::before {
    background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
    background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-checkbox:checked:focus + label::before,
.filter-input-checkbox:focus + label::before {
    outline: 2px solid var(--basic-black)
}

.checkbox-filter {
    display: flex;
}

.selection {
    list-style: none;
    margin: 0;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
}

.price-per-day {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
}

.range-price {
    display: flex;
    position: relative;
    width: 317px;
    justify-content: space-around;
    align-items: center;
    color: var(--basic-white);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.range-price::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
    background-position: center;
}

.range-price input[type="text"] {
    background-color: transparent;
    border: none;
    color: var(--basic-white);
    text-align: center;
}

.range-filter {
    position: relative;
    margin-top: 20px;
    width: 316px;
    height: 2px;
    background-color: var(--opacity-white);
}

.part-of-range {
    width: 248px;
    height: 2px;
    background-color: var(--basic-white);
}

.switch1 {
    position: absolute;
    top: -8px;
    left: 0;
    width: 19px;
    height: 21px;
    padding: 0;
    background-image:url(../img/filter-button.svg);
    cursor: pointer;
}

.switch2 {
    position: absolute;
    top: -8px;
    right: 45px;
    width: 19px;
    height: 21px;
    padding: 0;
    background-image:url(../img/filter-button.svg);
    cursor: pointer;
}

.switch1:hover,
.switch2:hover {
    width: 23px;
    height: 24px;
    background-image:url(../img/filter-button-hover.svg);
}

.button-for-filter {
    display: block;
    border: 2px solid var(--basic-white);
    font: inherit;
    color: var(--basic-white);
    width: 137px;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 5px 4px 6px 3px;
    margin-top: 33px;
    align-self: center;
    margin-left: -10px;
}

.button-for-filter:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.searcing-results {
    margin-top: 29px;
    margin-bottom: 31px;
}

.result {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sort-by {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.option {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    align-content: end;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 40px;
}

.version-current-state {
    display: flex;
    align-content: center;
    position: relative;
    margin-right: 73px;
    margin-left: 73px;
}

.triangle {
    padding: 0;
    background-color: transparent;
    width: 0;
	height: 0;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent var(--triangle-grey) transparent;
    border-style: solid;
    margin-right: 12px;
    margin-left: auto;
    align-self: center;
}

.triangle-reverse {
    padding: 0;
    background-color: transparent;
    width: 0;
	height: 0;
    border-width: 10px 5.5px 0 5.5px;
	border-color: var(--basic-blue) transparent transparent  transparent;
    border-style: solid;
    align-self: center;
}

.triangle:hover {
    border-color: transparent transparent var(--basic-black) transparent;
}

.triangle-reverse:hover {
    border-color: var(--basic-black) transparent transparent  transparent;
}

.triangle:active {
    border-color: transparent transparent var(--basic-blue) transparent;
}

.triangle-reverse:active {
    border-color: var(--basic-blue) transparent transparent  transparent;
}

.triangle:focus,
.triangle-reverse:focus {
    outline: 3px solid var(--pressing-blue);
}

.result {
    margin-top: 0;
    margin-bottom: 0;
}

.sort {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px; 
    margin: 0;
    margin-left: 46px;
}

.type-of-hotel, 
.type-of-rating {
    opacity: 0.3;
}

.sort-by-price,
.sort-by-type,
.sort-by-rating {
    font-size: 12px;
    line-height: 21px;
    margin-right: 33px;
}

.type-of-price:hover,
.type-of-hotel:hover,
.type-of-rating:hover {
    color: var(--basic-blue);
    opacity: 1;
}

.type-of-price:active,
.type-of-hotel:active,
.type-of-rating:active {
    color: var(--basic-black);
    opacity:1;
    text-decoration: none;
}

.option .sort-current {
    color: var(--basic-blue);
    opacity: 1;
}

.sort-by-type {
    background-image: url(../img/line-by-type.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.sort-by-rating {
    background-image: url(../img/line-by-rating.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

 /* .sort-by-type::after {
    position: absolute;
    content: "";
    width: 52px;
    height: 1px;
    top: 20px;
    background-image: url(../img/line-by-type.svg);
    background-repeat: no-repeat;
    left: 0;
    bottom: 5px;
}

.sort-by-rating::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 20px;
    background-image: url(../img/line-by-rating.svg);
    background-repeat: no-repeat;
    left: 0;
    bottom: 5px;
} */

.best-city {
    font-size: 21px;
    line-height: 26px;
    text-align: center;;
    max-width: 450px;
    margin: 0 auto;
}

.advantages {
    color: var(--basic-dark-grey);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 52px;
}    

.feature-item {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.features-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto  auto auto;
    font-size: 0;
    padding: 0; 
}

.features-list-item {
    min-height: 256px;;
}

.all-text {
    font-size: 14px;
    line-height: 22px; 
    text-align: center;
    margin: 0;
}

.feature-city {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.feature-city-items {
    width: 400px;
    text-align: center;
    min-height: 330px;
}

.feature-item-apartments {
    position: relative;
    margin-top: 160px;
    margin-bottom: 24px;
}

.feature-item-apartments::before {
    content: ""; 
    position: absolute;
    bottom: 47px;
    right: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-apartments.svg");
    background-repeat: no-repeat;
}

.all-text-apartments {
    color: var(--basic-dark-grey);
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 81px;
}

.feature--item-food {
    position: relative;
    margin-top: 160px;
    margin-bottom: 25px;
}

.feature--item-food::before {
    content: ""; 
    position: absolute;
    bottom: 50px;
    right: 162px;
    width: 75px;
    height: 70px;
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
}

.all-text-food {
    color: var(--basic-dark-grey);
    margin-left: 54px;
    margin-right: 52px;
    margin-bottom: 80px;
}

.feature--item-souvenirs {
    position: relative;
    margin-top: 160px;
    margin-bottom: 25px;
}

.feature--item-souvenirs::before {
    content: ""; 
    position: absolute;
    bottom: 50px;
    right: 168px;
    width: 64px;
    height: 77px;
    background-image: url("../img/icon-souvenirs.svg");
    background-repeat: no-repeat;
}

.all-text-souvenirs {
    color: var(--basic-dark-grey);
    margin-left: 65px;
    margin-right: 64px;
    margin-bottom: 80px;
}

.features-list-item_type_place,
.features-list-item_type_path,
.features-list-item_type_tourists {
    background-color: var(--basic-light-grey)
}

.features-list-item_type_sedona {
    grid-column-start: 1;
    grid-column-end: -1;
}

.features-list-item_type_bridge {
    grid-column-start: 3;
    grid-column-end: -1;
}

.features-list-item_type_place {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 400px;
}
.features-list-item_type_place h3 {
    margin: 47px 141px 25px 140px;
}

.about-place {
    color: var(--basic-dark-grey);
    margin: 22px 96px 54px 96px;
}

.features-list-item_type_path {
    grid-column-start: 2;
    grid-column-end: 3;
}

.features-list-item_type_path h3 {
    margin: 47px 150px 25px 151px;
}

.about-path {
    color: var(--basic-dark-grey);
    margin: 22px 70px 54px 69px;
}

.features-list-item_type_tourists {
    grid-column-start: 3;
    grid-column-end: 4;  
}

.features-list-item_type_tourists h3 {
    margin: 47px 151px 25px 151px;
}

.about-everyone {
    color: var(--basic-dark-grey);
    margin: 22px 77px 54px 77px;
}

.hotel-search {
    margin-top: 56px;
}

.question {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.suggestion-fill-form {
    color: var(--basic-dark-grey);
    line-height: 27px;
    margin-bottom: 127px;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.real-city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 400px;
    min-height: 256px;
}

.real-city .feature-item {
    margin: 48px 140px 25px 139px;
}

.about-real-city {
    margin-top: 23px;
    margin-right: 49px;
    margin-bottom: 52px;
    margin-left: 48px;
}

.real-city::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 800px;
    height: 100%;
    background-image: url("../img/picture-city.jpg");
    background-color: var(--basic-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.bridge {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 400px;
    min-height: 256px;
}

.bridge::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 800px;
    height: 100%;
    background-image: url("../img/picture-bridge.jpg");
    background-color: var(--basic-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.bridge .feature-item {
    margin: 47px 124px 24px 125px;
}

.about-bridge {
    margin: 23px 40px 48px 40px;
}

.hotels-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.hotels-list:last-child {
    border-bottom: 1px solid var(--border-grey);
}

.about-hotel {
    display: grid;
    grid-template-columns: 208px 145px auto 189px;
    grid-template-rows: auto auto auto;
    align-items: start;
    padding-top: 28px;
    padding-bottom: 30px;
    border-top: 1px solid var(--border-grey);
}


.hotel-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-left: 73px;
}

.hotel-option {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-left: 29px;
    margin-top: -4px;
    margin-bottom: 6px;
}

.hotel-name:hover {
    color: var(--basic-blue);
}

.hotel-name:active {
    opacity: 0.3;
    color: var(--basic-black);
}

.evaluation {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-right: 73px;
}

.star {
    list-style: none;
    width: 18px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
}

.star:not(:last-child) {
    margin-right: 6px;
}

.type, .price {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-dark-grey);
}

.type {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    margin-left: 29px;
}

.price {
    margin: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 15.5px;
    margin-left: 29px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17px;
    padding-right: 16px;
    align-self: end;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    margin-right: 6px;
}

.description:hover {
    background-color: var(--hover-blue);
}
.description:active {
    background-color: var(--pressing-blue);
    color: var(--opacity-white)
}

.book {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 15.5px;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17px;
    padding-right: 16px;
    }

.rating {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 14px;
    line-height: 21px;
    color: var(--rating-grey); 
    background-color: var(--basic-extra-grey);
    margin: 0;
    margin-top: 15.5px;
    margin-right: 73px;
    align-self: end;
    justify-self: end;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.book {
    align-self: end;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}

.book:hover {
    background-color: var(--hover-brown); 
}

.book:active {
    background-color: var(--pressing-brown); 
    color: var(--opacity-white)
}

.page-footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-left: 125px;
    padding-right: 141px;
    padding-top: 23px;
    padding-bottom: 30px;
    text-align: center;
    align-items: flex-end
}

.page-footer-index {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-footer);
}

.footer-contacts {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-right: auto;
    margin-bottom: 5px;
}

.footer-contacts h2 {
    font-size: 21px;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts .instagram {
    margin-bottom: 10px;
}

.footer-contacts .phone {
    margin-top: 9px;
}

.social-networks {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.social-button_1 {
    margin-right: 6px;
    margin-bottom: 5px;
    display: flex;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    align-items: center;
    justify-content: center;
}

.social-button_1:hover,
.social-button_2:hover,
.social-button_3:hover {
    background-color: var(--hover-blue);
}

.social-button_1:active,
.social-button_2:active,
.social-button_3:active {
    background-color: var(--pressing-blue);
    fill-opacity: 0.3;
}

.social-button_2 {
    margin-right: 6px;
    margin-bottom: 5px;
    display: flex;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    align-items: center;
    justify-content: center;
}

.social-button_3 {
    margin-right: 6px;
    margin-bottom: 5px;
    display: flex;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 5px;
}

.copyright {
    margin-right: 8px;
}

.copyright p {
    margin: 0;
}

.button:hover path{
    fill: var(--basic-blue);
}

.button:active path{
    fill: var(--copyright-grey);
}

/* Form */

.search-for-hotel {
    position: relative;
    background-image: url(../img/map.jpg);
}

.searching-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -86px;
    width: 568px;
    overflow: hidden;
}

.searching-header {
    border: none;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    padding: 30px 0 30px 0;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    z-index: 1;
}

.searching-form {
    min-height: 395px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.searching-header:hover {
    background-color: var(--hover-brown);
}

.searching-header:active {
    background-color: var(--pressing-brown);
    color: var(--opacity-white);
}

.searching-date {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 0;
}

.date-in {
    margin-top: 54px;
}

.date-out {
    margin-top: 29px;
}

.calendar {
    border: none;
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 23px;
    right: 11px;
    top: 8px;
    background-image: url("../img/calendar.svg");
    background-color: transparent;
    background-repeat: no-repeat;
}

.calendar:hover {
    background-image: url("../img/calendar-hover.svg");
    background-color: transparent;
}

.calendar:active {
    background-image: url("../img/calendar-active.svg");
    background-color: transparent;
}

.calendar:focus {
    outline: 2px solid var(--basic-black);
}

.searching-date input {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"] {
    text-transform: uppercase;
}

.searching-amount-wrapper {
    display: flex;
    margin-top: 30px;
}

.searching-amount input {
    width: 114px;
    text-align: center;
}

.searching-date input,
.searching-amount input {
    border: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-grey);
    padding-top: 6px;
    padding-bottom: 6px;
}

.searching-amount input {
    width: 38px;
    height: 38px;
    padding: 0;
}

.searching-amount button{
    padding: 0;
    border: none;
    width: 38px;
    height: 38px;
    font: inherit;
    color: inherit; 
}

.searching-amount {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.searching-amount p {
    margin: 0;
}

.searching-amount-adults {
    margin-left: 54px;
    width: 226px;
}

.searching-amount-children {
    margin-right: 55px;
    margin-left: 55px;
    width: 180px;
}

.button-adults,
.button-children {
    display: flex;
}

.button-minus {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: var(--basic-grey);
}

.button-minus::after {
    position: absolute;
    left: 35%;
    content: "";
    width: 12px;
    height: 3px;
    background-color: var(--details-grey); 
    background-repeat: no-repeat;
    background-position: center;
}

.button-plus {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: var(--basic-grey);
}

.button-plus::before,
.button-plus::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--details-grey);
    background-repeat: no-repeat;
    background-position: center;
}

.button-plus::before {
    transform: translateX(-50%) rotate(90deg);
}

.button-minus:hover::after,
.button-plus:hover::before,
.button-plus:hover::after {
    background-color: var(--basic-black); 
} 

.button-minus:active::after,
.button-plus:active::before,
.button-plus:active::after {
    background-color: var(--basic-blue); 
} 

.searching-date input:hover,
.searching-amount input:hover {
    background-color: var(--special-light-grey);
}

.searching-date input:focus,
.searching-amount input:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--border-grey);
}

.searching-form .button {
    display: block;
    border: none;
    margin: 55px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.searching-form .button:hover {
    background-color: var(--hover-blue);
}

.searching-form .button:active {
    background-color: var(--pressing-blue);
    color: var(--opacity-white);
}

.iframe {
    height: 594px;
}

.iframe-style {
    border: 0;
}

.modal {
    transition: transform 0.6s ease-in-out;  
} 

.modal-close {
    transform: translateY(-100%); 
}






  


